




@model ProductsListViewModel 
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach (var p in Model.Products) 



{
    @Html.Partial("ProductSummary", p) 
}
</div>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" 
page-class="btn" page-class-normal="btn-default" 
     page-class-selected="btn-danger" class="btn-group float-right"> 
</div> 